.flex-container {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: justify;
    flex: 1;
    flex-flow: column;
}
.image {
    text-align: center;
}

.one {
    background-color: coral;
    color:black;
}

.two {
    font-family: 'Courier New', Courier, monospace;
    background-color: blueviolet;
    font-size: larger;
}

.three {
    background-color: azure;
}

.four {
    background-color: aqua;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.five {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}

